.new {
    width: 100vw;
    height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .text {
    width: 100vw;

    background-image: repeating-linear-gradient(
      -45deg,
      /* Change the angle to -45 degrees */ #000000 2px,
      #000000 20px,
      #e0e0e0 20px,
      #e0e0e0 40px
    );
    animation: text 20s infinite;

      @keyframes text {
        0% {
          padding-left: 30vh;
        }
        100% {
          padding-left: 0;
        }
      }
    -webkit-background-clip: text;

    #movingText {
      margin: 0;
      padding: 0;
      font-style: italic;
      font-size: 12em;
      color: transparent;
    //   animation: text 20s infinite;

      @keyframes text {
        0% {
          padding-left: 30vh;
        }
        100% {
          padding-left: 0;
        }
      }
    }
  }
}
