#scroll {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: rgb(255, 254, 254);
  overflow: hidden;

  .topic {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;

    h1 {
      z-index: 10;
      margin: 0;
      color: rgb(102, 102, 102);
      font-style: italic;
      font-size: 8em;
      // -webkit-background-clip: text;
      // background-image: repeating-linear-gradient(
      //   -45deg,
      //   #ffffff,
      //   #ffffff 50px,
      //   #92a192 50px,
      //   #92a192 100px
      // );
      // animation: hero-name-ani 5s linear infinite;

      // @keyframes hero-name-ani {
      //   0% {
      //     left: 0vw;
      //   }

      //   100% {
      //     left: 100vw;
      //   }
      // }
    }
  }

  .box {
    position: absolute;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(
      to bottom right,
      rgb(204, 204, 204),
      rgb(248, 248, 217)
    );
  }

  .one {
    border-radius: 72% 28% 23% 77% / 30% 28% 72% 70%;
    animation: bobble-one infinite 50s linear;
    @keyframes bobble-one {
      0% {
        bottom: 5vh;
        right: 80vw;
      }
      10% {
        border-radius: 30% 70% 47% 53% / 30% 30% 70% 70%;
      }
      20% {
        border-radius: 67% 33% 78% 22% / 53% 67% 33% 47%;
      }
      25% {
        border-radius: 55% 45% 47% 53% / 47% 49% 51% 53%;
        bottom: 75vh;
        right: 20vw;
      }
      30% {
        border-radius: 28% 72% 78% 22% / 53% 67% 33% 47%;
      }
      40% {
        border-radius: 28% 72% 31% 69% / 53% 67% 33% 47%;
      }
      50% {
        border-radius: 37% 63% 38% 62% / 33% 61% 39% 67%;
        right: 5vw;
        bottom: 5vh;
      }
      60% {
        border-radius: 78% 22% 31% 69% / 77% 67% 33% 23%;
      }
      70% {
        border-radius: 37% 63% 34% 66% / 37% 19% 81% 63%;
      }
      75% {
        right: 75vw;
        bottom: 80vh;
        border-radius: 73% 27% 40% 60% / 30% 30% 70% 70%;
      }
      80% {
        border-radius: 37% 63% 72% 28% / 37% 19% 81% 63%;
      }
      90% {
        border-radius: 46% 54% 37% 63% / 55% 25% 75% 45%;
      }
      100% {
        bottom: 5vh;
        right: 80vw;
        border-radius: 72% 28% 23% 77% / 30% 28% 72% 70%;
      }
    }
  }

  .two {
    border-radius: 72% 28% 23% 77% / 30% 28% 72% 70%;
    animation: bobble-two infinite 50s ease-in-out;
    @keyframes bobble-two {
      0% {
        bottom: 60vh;
        right: 5vw;
      }
      10% {
        bottom: 80vh;
        right: 40vw;
      }
      25% {
        border-radius: 55% 45% 47% 53% / 47% 49% 51% 53%;
        bottom: 50vh;
        right: 90vw;
      }
      50% {
        border-radius: 37% 63% 38% 62% / 33% 61% 39% 67%;
        right: 10vw;
        bottom: 90vh;
      }
      75% {
        right: 50vw;
        bottom: 10vh;
        border-radius: 27% 73% 69% 31% / 28% 32% 68% 72%;
      }
      100% {
        bottom: 60vh;
        right: 5vw;
        border-radius: 72% 28% 23% 77% / 30% 28% 72% 70%;
      }
    }
  }

  .three {
    border-radius: 72% 28% 23% 77% / 30% 28% 72% 70%;
    animation: bobble-three infinite 50s ease-in-out;
    @keyframes bobble-three {
      0% {
        top: 0vh;
        left: 10vw;
      }
      25% {
        border-radius: 55% 45% 47% 53% / 47% 49% 51% 53%;
        top: 75vh;
        left: 0vw;
      }
      50% {
        border-radius: 37% 63% 38% 62% / 33% 61% 39% 67%;
        left: 80vw;
        top: 5vh;
      }
      70% {
        left: 75vw;
        top: 80vh;
        border-radius: 27% 73% 69% 31% / 28% 32% 68% 72%;
      }
      100% {
        top: 0vh;
        left: 10vw;
        border-radius: 72% 28% 23% 77% / 30% 28% 72% 70%;
      }
    }
  }

  .four {
    border-radius: 72% 28% 23% 77% / 30% 28% 72% 70%;
    animation: bobble-four infinite 50s ease-in-out;
    @keyframes bobble-four {
      0% {
        bottom: 50vh;
        right: 0vw;
      }
      25% {
        border-radius: 55% 45% 47% 53% / 47% 49% 51% 53%;
        bottom: 0vh;
        right: 50vw;
      }
      50% {
        border-radius: 37% 63% 38% 62% / 33% 61% 39% 67%;
        right: 90vw;
        bottom: 50vh;
      }
      70% {
        right: 50vw;
        bottom: 90vh;
        border-radius: 27% 73% 69% 31% / 28% 32% 68% 72%;
      }
      100% {
        bottom: 50vh;
        right: 0vw;
        border-radius: 72% 28% 23% 77% / 30% 28% 72% 70%;
      }
    }
  }

  .five {
    border-radius: 72% 28% 23% 77% / 30% 28% 72% 70%;
    animation: bobble-five infinite 50s ease-in-out;
    @keyframes bobble-five {
      0% {
        bottom: 0vh;
        right: 10vw;
      }
      25% {
        border-radius: 55% 45% 47% 53% / 47% 49% 51% 53%;
        bottom: 80vh;
        right: 40vw;
      }
      50% {
        border-radius: 37% 63% 38% 62% / 33% 61% 39% 67%;
        right: 80vw;
        bottom: 20vh;
      }
      70% {
        right: 50vw;
        bottom: 80vh;
        border-radius: 27% 73% 69% 31% / 28% 32% 68% 72%;
      }
      100% {
        bottom: 0vh;
        right: 10vw;
        border-radius: 72% 28% 23% 77% / 30% 28% 72% 70%;
      }
    }
  }

  .big {
    position: absolute;
    z-index: 9;
   
    width: 50vw;
    height: 100vh;
 
    background-image: linear-gradient(
      -20deg,
      rgb(255, 255, 255),
      rgb(228, 228, 228)
    );

    animation: bobble-big 90s infinite linear;

    @keyframes bobble-big {
      0% {
        border-radius: 46% 54% 37% 63% / 45% 45% 55% 55%;
        background-image: linear-gradient(
          0deg,
          rgb(255, 255, 255),
          rgb(228, 228, 228)
        );
      }
      10% {
        border-radius: 32% 68% 21% 79% / 75% 23% 77% 25%;
        background-image: linear-gradient(
          36deg,
          rgb(255, 255, 255),
          rgb(228, 228, 228)
        );
      }
      20% {
        border-radius: 65% 35% 77% 23% / 21% 74% 26% 79%;
        background-image: linear-gradient(
          72deg,
          rgb(255, 255, 255),
          rgb(228, 228, 228)
        );
      }
      30% {
        border-radius: 65% 35% 77% 23% / 50% 43% 57% 50%;
        background-image: linear-gradient(
          108deg,
          rgb(255, 255, 255),
          rgb(228, 228, 228)
        );
      }
      40% {
        border-radius: 65% 35% 32% 68% / 78% 43% 57% 22%;
        background-image: linear-gradient(
          144deg,
          rgb(255, 255, 255),
          rgb(228, 228, 228)
        );
      }
      50% {
        border-radius: 29% 71% 20% 80% / 78% 26% 74% 22%;
        background-image: linear-gradient(
          180deg,
          rgb(255, 255, 255),
          rgb(228, 228, 228)
        );
      }
      60% {
        border-radius: 47% 53% 49% 51% / 50% 46% 54% 50%;
        background-image: linear-gradient(
          216deg,
          rgb(255, 255, 255),
          rgb(228, 228, 228)
        );
      }
      70% {
        border-radius: 47% 53% 49% 51% / 34% 68% 32% 66%;
        background-image: linear-gradient(
          252deg,
          rgb(255, 255, 255),
          rgb(228, 228, 228)
        );
      }
      80% {
        border-radius: 81% 19% 66% 34% / 72% 57% 43% 28%;
        background-image: linear-gradient(
          270deg,
          rgb(255, 255, 255),
          rgb(228, 228, 228)
        );
      }
      90% {
        border-radius: 37% 63% 66% 34% / 30% 69% 31% 70%;
        background-image: linear-gradient(
          306deg,
          rgb(255, 255, 255),
          rgb(228, 228, 228)
        );
      }
      100% {
        border-radius: 46% 54% 37% 63% / 45% 45% 55% 55%;
        background-image: linear-gradient(
          0deg,
          rgb(255, 255, 255),
          rgb(228, 228, 228)
        );
      }
    }
  }


  .big-1{
    left: -10vw;
    top: 20vh;
  }

  .big-2{
    bottom: 20vh;
    right: -10vw;
  }
}
