#navbar {
    position: relative;
    z-index: 100;
    width: 100%;
    height: 40px;
    top: 20px;
    right: 5%;
    position: fixed;
    display: flex;
    justify-content: end;


    .contant {
overflow: hidden;
        width: 90%;
        background-color: #22092C;
        border-radius: 25px;
        padding: 0 10px;
        display: flex;
        justify-content: center;
        align-items: center;

        .left {
            flex: 2;

            a {
                text-decoration: none;
                // padding-left: 20px;
                font-size: 1.2em;
                font-weight: 600;
                color: #F1EAFF;
            }

            a:hover {
                animation: navbar-logo 1s linear infinite;

                @keyframes navbar-logo {
                    0% {
                        text-shadow: 2px 2px red
                    }

                    25% {
                        text-shadow: 2px 2px #190482
                    }

                    50% {
                        text-shadow: 2px 2px #7752FE
                    }

                    75% {
                        text-shadow: 2px 2px #8E8FFA
                    }

                    100% {
                        text-shadow: 2px 2px #C2D9FF
                    }
                }
            }
        }


        .right {
            flex: 1;
            display: flex;
            justify-content: space-around;
            align-items: center;

            p{
                margin: 0;
                text-decoration: none;
                color: #fff;
                border-radius: 10px;
                font-weight: 500;
                padding: 5px;

            }

            p:hover {
                background-color: #F7EFE5;
                color: #000;
                transition: background-color 0.5s;
            }
        }

        .dropdown {
            img {
                display: none;
                top: 10px;
                right: 10px;
                position: absolute;
                height: 20px;
                opacity: 1;
            }

            .dropdown-content {
                display: none;
                flex-direction: column;
                gap: 5px;
                width: 80px;
                height: 50px;
                background-color: transparent;
                position: absolute;
                top: 50px;
                right: 0px;
                border-radius: 10px;

                p{
                    margin: 0;
                    font-weight: 500;
                    color: #776B5D;
                    padding: 5px 10px;
                    text-decoration: none;
                    display: block;
                    border-radius: 10px;
                    background-color: #F3EEEA;
                }

                p:hover {
                    background-color: #F4CE14;
                    color: #45474B;
                }
            }
        }


        @media only screen and (max-width: 400px) {
            width: 40px;
            background-color: #F3EEEA;
            border-radius: 25px;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;

            .left {
                display: none;
            }

            .right {
                display: none;
            }

            .dropdown {
                img {
                    display: block;
                    opacity: 1;
                }

                .dropdown-content {
                    gap: 10px;
                    display: none;
                }
            }
        }
    }
}