@font-face {
    font-family: 'SpotlightDemoItalic';
    src: local('SpotlightDemoItalic'), url('./fonts/SpotlightDemoItalic-Rppne.otf') format('otf');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Insomnia';
    src: local('Insomnia'), url('./fonts/Insomnia.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
  }
  